In [14]:
import pandas as pd 
import numpy as np 
from sklearn.utils import shuffle

In [2]:
df = pd.read_csv("Toronto_temp.csv")
#dataset.head(10)

In [3]:
#clean data in year column
df["Year"] = df["Year"].astype(str)
df["Year"] = df["Year"].str.replace(",","")

In [4]:
df.season.unique()

array(['Winter', 'Spring', 'Summer', 'Fall'], dtype=object)

In [5]:
no_rows = df.shape[0]
print(no_rows)

2889

In [6]:
#adding columns for each season and storing particular value 0 or 1 accordingly

df["Winter"] = pd.Series(index=df.index)
df["Summer"] = pd.Series(index=df.index)
df["Spring"] = pd.Series(index=df.index)
df["Fall"] = pd.Series(index=df.index)

df["Winter"] = df["Winter"].fillna(0)
df["Summer"] = df["Summer"].fillna(0)
df["Spring"] = df["Spring"].fillna(0)
df["Fall"] = df["Fall"].fillna(0)
#df.head(10)

df.loc[df["season"]=="Winter","Winter"] = 1
df.loc[df["season"]=="Summer","Summer"] = 1
df.loc[df["season"]=="Spring","Spring"] = 1
df.loc[df["season"]=="Fall","Fall"] = 1

In [7]:
#remove unnecessary columns 
columns = ["Max Temp (C)","Min Temp (C)","Date/Time","season"]
df = df.drop(columns=columns,axis=1)

In [8]:
df.head(10)

,Year,Month,Day,Mean Temp (C),Total Rain (mm),Total Snow (cm),Total Precip (mm),Winter,Summer,Spring,Fall
0,2018,1,31,-7.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0
1,2018,1,30,-11.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,2018,1,29,-4.0,0.0,5.0,5.0,1.0,0.0,0.0,0.0
3,2018,1,28,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,2018,1,27,5.0,2.0,0.0,2.0,1.0,0.0,0.0,0.0
5,2018,1,26,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
6,2018,1,25,-7.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
7,2018,1,24,-8.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8,2018,1,23,1.0,3.0,0.0,3.0,1.0,0.0,0.0,0.0
9,2018,1,22,2.0,14.0,0.0,14.0,1.0,0.0,0.0,0.0

In [9]:
#convert cm to mm in Total Snow column 
type(df["Total Snow (cm)"][0])
df.loc[df["Total Snow (cm)"]!=0.0,"Total Snow (cm)"] *= 10

df.rename(columns={"Total Snow (cm)" : "Total Snow (mm)"},inplace=True)

In [10]:
df.head(10)

,Year,Month,Day,Mean Temp (C),Total Rain (mm),Total Snow (mm),Total Precip (mm),Winter,Summer,Spring,Fall
0,2018,1,31,-7.0,0.0,10.0,1.0,1.0,0.0,0.0,0.0
1,2018,1,30,-11.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,2018,1,29,-4.0,0.0,50.0,5.0,1.0,0.0,0.0,0.0
3,2018,1,28,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,2018,1,27,5.0,2.0,0.0,2.0,1.0,0.0,0.0,0.0
5,2018,1,26,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
6,2018,1,25,-7.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
7,2018,1,24,-8.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8,2018,1,23,1.0,3.0,0.0,3.0,1.0,0.0,0.0,0.0
9,2018,1,22,2.0,14.0,0.0,14.0,1.0,0.0,0.0,0.0

In [11]:
df.dropna(axis=0,inplace=True)

In [12]:
count_nan = len(df)-df.count()
print(count_nan)

Year                 0
Month                0
Day                  0
Mean Temp (C)        0
Total Rain (mm)      0
Total Snow (mm)      0
Total Precip (mm)    0
Winter               0
Summer               0
Spring               0
Fall                 0
dtype: int64

In [13]:
df.head(10)

,Year,Month,Day,Mean Temp (C),Total Rain (mm),Total Snow (mm),Total Precip (mm),Winter,Summer,Spring,Fall
0,2018,1,31,-7.0,0.0,10.0,1.0,1.0,0.0,0.0,0.0
1,2018,1,30,-11.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,2018,1,29,-4.0,0.0,50.0,5.0,1.0,0.0,0.0,0.0
3,2018,1,28,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,2018,1,27,5.0,2.0,0.0,2.0,1.0,0.0,0.0,0.0
5,2018,1,26,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
6,2018,1,25,-7.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
7,2018,1,24,-8.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8,2018,1,23,1.0,3.0,0.0,3.0,1.0,0.0,0.0,0.0
9,2018,1,22,2.0,14.0,0.0,14.0,1.0,0.0,0.0,0.0

In [15]:
df = shuffle(df)
df.head(10)

,Year,Month,Day,Mean Temp (C),Total Rain (mm),Total Snow (mm),Total Precip (mm),Winter,Summer,Spring,Fall
2153,1941,9,1,16.8,25.1,0.0,25.1,0.0,0.0,0.0,1.0
2032,2014,9,20,17.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
953,2017,5,14,12.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
2125,1969,9,1,15.6,15.0,0.0,15.0,0.0,0.0,0.0,1.0
717,2017,4,22,9.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1856,1983,8,1,21.1,112.2,0.0,112.2,0.0,1.0,0.0,0.0
1485,2015,7,19,25.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1141,2018,6,25,18.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1422,2017,7,20,20.0,19.0,0.0,19.0,0.0,1.0,0.0,0.0
1221,2016,6,5,21.0,6.0,0.0,6.0,0.0,1.0,0.0,0.0

In [16]:
df.to_csv("clean_weather.csv")